@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
}

img {
  max-width: 100%;
}

hr {
  background-color: #e8e8e8;
  height: 2px;
  border: none;
  margin: 2.5rem 0;
}

#root {
  background-color: #fafafa;
  margin: 2rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
}

.header {
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
}

.nav-text-container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  flex: 1;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 30px;
  color: #0290ff;
  text-decoration: none;
  font-weight: 700;
}

.navbar {
  font-size: 13px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
}

.navbar > a {
  text-decoration: none;
  opacity: 0.5;
  text-transform: uppercase;
  color: #121212;
  letter-spacing: 1.9px;
}

.navbar > a.active {
  opacity: 1;
}

.icon-bg {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.booklist-container {
  padding: 2rem;
  display: grid;
  row-gap: 1rem;
  background: transparent;
  padding-bottom: 4rem;
  margin-bottom: 10rem;
}

.book-container {
  border: 1px solid #ddd;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  color: #121212;
  background-color: #fff;
}

.book-info {
  display: grid;
  row-gap: 5px;
  flex: 1;
}

.book-genre {
  color: #121212;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.5;
}

.book-title {
  font-size: 22px;
  text-transform: capitalize;
}

.book-author {
  font-size: 14px;
  color: #4386bf;
  font-family: 'Robo Slab', serif;
  text-transform: capitalize;
  font-weight: 300;
}

.book-action-btn {
  border: none;
  background: transparent;
  font-size: 14px;
  color: #4386bf;
  font-family: 'Robo Slab', serif;
  padding: 8px;
  border-left: 2px solid #e8e8e8;
}

.book-action-btn:first-child {
  border: none;
  padding-left: 0;
}

.reading-progress {
  display: grid;
  grid-auto-flow: column;
}

.circular-progress-container {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: lightgray;
}

.circular-progress {
  width: 112px;
  height: 112px;
  position: relative;
  border-radius: 50%;
  background: conic-gradient(#0290ff 230deg, lightgrey 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

.inside-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
  background: transparent;
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  z-index: 100;
}

.circle-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  padding: 0 2rem 0 1rem;
  border-right: 2px solid #e8e8e8;
}

.circle-percentage {
  font-size: 2rem;
}

.current-progress-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
  font-family: 'Roboto Slab', serif;
}

.current-chapter {
  text-transform: uppercase;
  opacity: 0.5;
}

.current-chapter-number {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
}

.btn {
  background-color: #0290ff;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  height: 2rem;
  padding: 0 1rem;
}

.new-book-container {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.add-book-title {
  font-size: 20px;
  color: #121212;
  opacity: 0.5;
  font-weight: 700;
}

.new-book-form {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.form-input {
  flex: 2;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  height: 3rem;
  font-size: 1rem;
  padding: 12px;
  outline: none;
  color: #121212;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

.form-input::placeholder {
  opacity: 0.5;
}

.form-input:focus {
  outline: none;
  border: 1px solid #0290ff;
}

.form-input:first-child {
  flex: 3;
}

.btn--form {
  height: 3rem;
  flex: 1;
}

.categories-container {
  padding: 3rem;
  display: grid;
  row-gap: 3rem;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}

.categories-container > .btn {
  max-width: 10rem;
  margin: auto;
}
